@media only screen and (min-width : 1824px) {

#AP_Constituency {
    font-size: inherit;
}
#TG_Constituency {
	font-size: inherit;
}	
.col-blg {
	min-height: 351px;
}	
.tally-scroll {
	height: 302px;
}	
/*
.tally-scroll table {
    min-width: 591px;
}	
*/
	
}

@media only screen and (max-width : 1824px) {
	.choose-state{
		padding-right: 5%;
	}
	.tally-scroll{
		height: 290px;
	}
	.img-blg img{
		margin-left: -20%;
	}
	.main-adds {
		/* margin-top: 7px ; */
		/* margin-bottom: 0px ; */
		margin: 7px 15% 0;
	}
	.lead-win{
		word-break: break-word;
	}
}
@media only screen and (min-width : 1740px) {
	.UK-LW-width{
		width: 78px !important;
	}
}
@media only screen and (max-width : 1740px) {
	.LW-width{
		width: 73px !important;
	}
}
@media only screen and (min-width : 1724px) {
	.LW-width{
		width: 81px !important;
	}
}
@media only screen and (max-width : 1660px) {
	.LW-width{
		width: 50px !important;
	}
}
@media only screen and (max-width : 1624px) {
	.puducherry-name{
		font-size: 20px;
		padding: 6px 0 6px 2px;
	}
	.img-blg img{
		margin-left: -28%;
	}
}
@media only screen and (max-width : 1439px) {
	.pers-blg-text h4 {
		font-size: 15px !important;
		margin-left: 30px !important;
	}
}
@media only screen and (max-width : 1347px) {
		.UK-LW-width{
			width: 40px !important;
		}
		.tally-mob{
			padding-right: 15px;
		}
	.state-name{
		font-size: 18px !important;
		padding: 5px 0 5px 4px;
	}
	.puducherry-name{
		font-size: 16px;
		padding: 6px 0 6px 10px;
	}
	.tally-scroll{
		height: 300px;
	}
	.election-state{
		margin: 20px 10px;
	}
	.img-blg img{
		margin-left: -40%;
	}
	.pers-blg-text h4 {
		padding-left: 25px;
	}
}

@media only screen and (max-width: 1199px){
	.lead-won{
		font-size: 13px !important;
		font-weight: 600 !important;
	}
	.tally-mob{
		padding-right: 12px;
	}
	.pers-blg-text h4 {
		font-size: 15px !important;
		margin-left: 30px !important;
	}
	.puducherry-name{
		font-size: 16px !important;
		padding: 7px 0 7px 2px;
	}
	.pers-blg-text h4 {
		padding-left: 2px;
	}
	.img-blg img{
		margin-left: -23%;
	}
	.scroll-blog {
		/* height: 281px; */
	overflow-x: auto;
	}
	.ap-constituency{
		overflow: hidden;
	}
	.constituency-scroll{
		height: 500px;
	}
	.tally-scroll{
		height: 315px;
	}
	#westBengal{
		margin-left: 12px !important;
	}
	.lead-win{
		padding-left: 0px;
	}
}
@media only screen and (max-width: 1120px){
	.lead-won{
		font-size: 13px !important;
		font-weight: 500 !important;
	}
	.td-border tr td,.td-border tr th{
		font-size: 13px !important;
		padding: 4px 1px !important;
	}
	.tdata2{
		/* font-size: 14px !important; */
		font-weight: 600 !important;
	}
	
	.tally-mob{
		padding-right: 12px;
	}
	.puducherry-name{
		font-size: 16px !important;
		padding: 7px 0 7px 2px;
	}
}
@media only screen and (max-width: 1040px){
	
	.pers-blg-text h4 {
		font-size: 14px !important;
		margin-left: 30px !important;
	}
}
@media only screen and (max-width: 1024px){
	.uk-rsp{
		padding-right: 10px !important;
	}
	h1{
		font-size: 30px;
	}
	.btn5{
		font-size: 15px;
	}
	.LW-width{
		width: 40px !important;
	}
	.pers-blg-text h4 {
		font-size: 14px !important;
		margin-left: 30px !important;
	}
	.main-adds{
		margin: 7px 5% 0;
	}
	.img-blg img{
		margin-left: -27%;
	}
	#tally_lok_sabha {
		top: 0%!important;
	}
	#tally_lok_sabha::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 137px;
    background-color: #B40003;
    top: 18%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}
	
	/*nav-bar*/
/*
.navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
	
.navbar-toggle {
    margin-top: 26px;
}	

.navbar-brand::before {
	position: absolute;
	content: "";
	width: 100%;
	left: 0;
	height: 4px;
	background-color: #cc0001;
	bottom: 19%;
	z-index: -1;
	display: none;
}	
	
.navbar-nav li a div img {
    margin-right: 10px;
    float: left;
}	
*/
	
/*--------*/
	
.col-blg {
    min-height: 342px;
}
.tally-scroll {
    height: 315px;
}
.totel-target-info {
	top: 20%;
	font-size: 12px;	
}	
.totel-target-info h4 {
	font-size: 11px
}	

.info-graph-bot {
    min-height: 235px!important;
}	
.col-footer {
    min-height: 650px;
}	
	
}
@media only screen and (max-width : 1021px) {
	.state-name{
		font-size: 15px !important;
	}
	.lead-won{
		font-size: 13px !important;
	}
	
	.pers-blg-text h4 {
		font-size: 14px !important;
		margin-left: 28px !important;
	}
	.img-blg img{
		margin-left: -28%;
	}
	.side-quik-links {
		display: none;
	}
	#img1{
		width:250px;
  }
  .year{
    /* background: #00011E; */
    /* color: white; */
    border: none;
    outline: none;
    padding: 10px 28px;
    font-weight: 700;	
  }
  
}
@media only screen and (min-width : 991px) {
	#Pb_data tr .lead-won, #Ga_data tr .lead-won, #Mnr_data tr .lead-won{
		display: none;
	}
	#web-ad1, #web-ad2{
		display: block !important;
	}
	#mob-ad1, #mob-ad2,#mob-ad3{
		display: none !important;
	}
	.ad-mobile{
		display: none !important;
	}
}
@media only screen and (max-width : 991px) {
	.uk-rsp{
		padding-right: 15px !important;
	}
	.tally-mob{
		padding-right: 15px;
	}
	.state-name{
		font-size: 22px !important;
	}
	.td-border tr td,.td-border tr th{
		font-size: 16px !important;
		padding: 4px 4px !important;
	}
	.td-border tr th{
		font-weight: 700 !important;
	}
	/* #Pb_data tr .lead-won, #Ga_data tr .lead-won, #Mnr_data tr .lead-won{
		display: block;
	} */
	.choose-state{
		text-align: center;
	}
	.web-border{
		border: none !important;
	}
	.mob-div{
		background: white !important;
		border: 1px solid #B80403 !important;
		padding: 4px !important;
	}
	.ad-mobile{
		margin: 10% 0 !important;
		display: block !important;
	}
	.add-blog #mob-ad2{
		margin-bottom: -30px !important;
	}
	#web-ad1, #web-ad2,#web-ad3{
		display: none !important;
	}
	#mob-ad1, #mob-ad2, #mob-ad3{
		display: block !important;
	}
	.PB-padding-left{
		padding-left: 0px !important;
	}
	#state-img{
		margin-bottom: 4% ;
	}
	.selectState{
		text-align: center;
		padding-right: 0x;
	}
	.state-name{
		font-size: 22px;
		padding: 5px 0 5px 15px;
  }
  .add-space-2{
    margin-left: 90px;
    height: 270px;
    margin-top: 10px;
    text-align: center;
  }
	.puducherry-name{
		font-size: 22px;
		padding: 5px 0 5px 15px;
	}
  #tamilnadu{
		margin-left: 1px !important;
	}
	#westBengal{
		margin-left: 0px !important;
	}
	.img-blg img{
		margin-left: -20%;
	}
	.election-results .iframe-embed{
		border-right: none;
	}
	.tally-d{
		margin-left: 0;
	}
	#westBengal{
		margin-left:0px !important;
	}
	.news-section {
    background-color: transparent;
	}
	#img1{
		width:300px;
	}
 
	.news-section1 {
		background-color: #052e43 ;
		height: 85px;
	
	}
	
	#tally_lok_sabha {
		top: 27% !important;
	}
	.totel-target-info {
    top: 13%;
	}
	.col-blg {
    min-height: 342px;
}
	.col-last-child-resp {
		margin-right: 0px;
	}
.totel-target-info {
	width: 50%;
	}
	.center-line-1 {
	height: 201px;
	top: 34%;
}
.constituency-scroll {
	height: 600px;
}
.state-blg {
	min-height: auto !important;
}
.tally-scroll {
    height: 290px;
}
}

@media only screen and (max-width : 997px) {

	.PB-padding-left{
		padding-left: 10px;
	}
}

@media only screen and (max-width : 891px) {
	.logo-div {
		display: block;
		margin: 30px 0;
	}
	.main-adds {
		/* padding-top: 50px ; */
		margin-left: 0;
	}
	.img-blg img{
		margin-left: -24%;
	}
}
@media only screen and (min-width: 768px){
	/* .main-adds {
		/* margin-top: 7px ; */
		/* margin-bottom: 0px ; */
		/* margin: 7px 0 0;
	} */
	/* .img-blg img{
		margin-left: -15%;
	} */
}
@media only screen and (max-width: 768px){
	.dist1 div{
		font-size: 18px;
	}
	.img-blg img{
		margin-left: -27%;
	}
	.live-news-add img {
     margin-top: 0;
	}
	.main-adds{
		margin-left:0;
	}

.center-line-1 {
    height: 90px;
    top: 44%;
}	
/*
	.table-scrollable table{
	min-width: 450px;
}	
*/
}
@media only screen and (max-width: 767px){

	.pers-blg-text h4 {
		font-size: 16px !important;
		margin-left: 20px !important;
   }
  .table-responsive {
   margin-bottom: 0px !important;
  }
	.col-blg {
    min-height: 342px;
	}
		
	.totel-target-info {
	width: 50%;
	top: 13%;	
	}
	#tally_lok_sabha {
		top: 27%!important;
	}
	.center-line-1 {
	height: 200px;
	top: 36%;
}
	
.footer-row > .col-xs-4{
		width: 100%;
	}
	.footer-logo {
	display: flex;
	margin-bottom: 10px;
	}
	.footer-logo img {
		margin-right: 10px;
	}
	.ad-responsive img {
		float: none;
	    margin: auto;
	}
	.col-footer {
	min-height: auto;
	}	
	
}

@media only screen and (max-width : 660px) {
	.col-blg{
		background: none;
	}
	/* .mob{
		border: none;
	} */
	
	.select-btn {
	width: 60%;
	}
	.info-graph-bot {
		min-height: 351px;
	}	
	.img-blg img{
		margin-left: -28%;
	}	
}

@media only screen and (min-width: 540px){	
	/* #web-ad1, #web-ad2{
		display: block !important;
	}
	#mob-ad1, #mob-ad2,#mob-ad3{
		display: none !important;
	}
	.ad-mobile{
		display: none !important;
	} */
}

@media only screen and (max-width: 540px){	
	.td-border tr td,.td-border tr th{
		font-size: 15px !important;
		padding: 4px 1px !important;
	}
	.tally-mob{
		padding-right: 20px !important;
	}
	#mySelect{
		width: 180px !important;
		margin-top: 15px !important;
	}
	.choose-state{
		font-size: 18px !important;
	}
	/* .web-border{
		border: none !important;
	}
	.mob-div{
		background: white !important;
		border: 1px solid #B80403 !important;
		padding: 4px !important;
	}
	.ad-mobile{
		margin: 10% 0 !important;
		display: block !important;
	} */
	/* #web-ad1, #web-ad2{
		display: none !important;
	}
	#mob-ad1, #mob-ad2, #mob-ad3{
		display: block !important;
	} */
	/* .tally-mob{
		padding-right: 2px !important;
	} */
	.tally-table{
		padding-right: 10px !important;
    	padding-left: 10px !important;
	}
	.state-name{
		font-size: 19px !important;
	}
	.lead-won{
		font-size: 14px !important;
		font-weight: 600 !important;
		padding: 4px 1px !important;
	}
	.tdata2 div{
		font-size: 15px !important;
	}
	.UK-LW-width{
		width: auto !important;
	}
	.resp-th-width tr td:first-child {
		max-width: 80px;
		
	}
	.state-dropdown-list {
	position: relative;
	}
}
@media only screen and (max-width: 595px){
	.choose-state{
		font-size: 18px !important;
	}
	#mySelect{
		margin-bottom: 5px !important;
		margin-top: 8px !important;
	}
	.lead-win{
		font-size: 15px;
	}
	.pers-blg-text h4 {
		 font-size: 12px !important;
		 margin-left: 30px !important;
	}
	.state-wise-map-blg {
	max-width: 100%;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 10px;
}
	.state-wise-vip-blg {
	max-width: 100%;
	width: 100%;
}
.year{
  border: none;
  outline: none;
  padding: 10px 26px;
  font-weight: 700;	
}
		
}
@media only screen and (max-width: 460px){
	.selectState{
		padding-right: 5% !important;
	}
	#mySelect{
		font-size: 16px !important;
		width: 167px !important;
	}
	.tally-mob{
		padding-right: 5px !important;
	}
	.row{
		margin-right: -7px !important;
	}
	.td-border tr td,.td-border tr th{
		font-size: 15px !important;
		padding: 4px 2px !important;
	}
	.tdata2 div{
		font-weight: 600 !important;
	}
	.btn5{
		font-size: 14px !important;
	}
		#tally_lok_sabha::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 185px;
	background-color: #B40003;
	top: 8%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 9999;
	
	}
}
@media only screen and (max-width: 449px){
	#mySelect{
		margin-top: 15px !important;
	}
}
@media only screen and (max-width: 360px){
	.td-border tr td,.td-border tr th{
		font-size: 14px !important;
		padding: 4px 1px !important;
	}
	
	.btn5{
		font-size: 12px !important;
	}
	.wb1{
		font-size: 14px !important;
	}
	.lead-win{
		font-size: 14px;
	}
	.btn-group1{
		margin: 20px 0 20px 0%;
	}
	#tally_lok_sabha::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 141px;
    background-color: #B40003;
    top: 18%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}
	.col-blg {
    min-height: 265px;
}
	.totel-target-info {
    width: 50%;
    top: 20%;
}
	#tally_lok_sabha {
    top: 10% !important;
}
.center-line-1 {
	height: 140px;
	top: 33%;
}	
}
@media only screen and (max-width: 325px){
	.tdata2 div {
		font-size: 14px !important;
	}
	.state-name{
		font-size: 17px !important;
	}
	.year{
		font-size: 15px;
	}
	.lead-win{
		font-size: 14px;
	}
	#mySelect{
		font-size: 17px !important;
		width: 170px !important;
	}
	.choose-state{
		font-size: 16px !important;
	}
}
@media only screen and (max-width: 281px){
	.LW-width{
		margin-left: -6px;
	}
}